<a href='/'>Home</a> / Messages
<br /><br />
<% for (var i = 0; i < messages.length; i++) { %>
  <div data-messageid='<%= i %>'>
  <%= messages[i].msg %>
  <br />
  <% if (currentUser === undefined) { %>
  <% } else if (currentUser.name === messages[i].user) { %>
  <small>
    <a href="<%= messages[i].id %>/edit">Click to edit</a>
  </small>
  <% } %>
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal<%= messages[i].id %>">Comment</a>
    <!-- Modal Structure -->
    <div id="modal<%= messages[i].id %>" class="modal">
      <div class="modal-content">
        <h4>Comment</h4>
        <form action="<%= messages[i].id %>/comments" method="POST" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <div class="row">
            <div class="input-field col s12">
              <textarea rows="10" cols="40" name="reply" placeholder="Comment:"></textarea>
            </div>
          </div>
          <button class="btn waves-effect waves-light brown lighten-3" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>

  <br />
  <small><%=messages[i].user%><br /><%= messages[i].createdAt %></small>
  </div>
  <% messages[i].comments.forEach( function(comment){ %>
    <h6><%= comment.reply %>&nbsp;<%= comment.writer %></h6>
  <% }) %>
  <% } %>
